.head {
  padding: 50px 10px;
  text-align: center;
  background: #34568B;
  text-shadow: 2px 2px #ff0000;
  color: white;
  font-size: 50px;
  font-family: 'Tangerine', serif;
}

#fot {
  text-align: center;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin: 10px;
}

.sidenav a {
  display: block;
  color: black;
  padding: 16px;
  margin: 10px;
  text-decoration: none;
}

.sidenav a.active {
  background-color: #34568B;
  border-radius: 100px;
  margin: 10px;
  color: white;
}

.sidenav a:hover:not(.active) {
  background-color: #ff0000;
  border-radius: 100px;
  margin: 10px;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    margin: 20px;
  }
  .sidenav a {float: left;}
  main.texter {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin-right: 0px;
  margin-left: 25%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

#portfolio {
  text-align: center;
}
